/* подключаем шрифты */

@font-face {
	src: url('/css/fonts/EuropeExt\ Bold.ttf'), url('/css/fonts/EuropeExt\ Normal.ttf'), url(/css/fonts/Vani\ Bold.ttf);
	font-family: Regular, 'EuropeExt Bold';
}

/* отменяем отступы */

body {
	margin: 0;
	padding: 0;
}

/* отменяем отсупы для навигации */
.list-nav {
	margin: 0;
	padding: 0;
}

/* отменяем маркеры и стили ссылок */
ul {
	list-style: none;
	text-transform: uppercase;
}

/* устанвливаем ширину для меню и блоков, выставляем по центру */

.width-nav,
.center {
	width: 980px;
	margin: 0 auto;
}

/* устанавливаем отступ до следующего блока */
.head {
	margin-bottom: 39px;
}

/* оформления первого блока */
/* установка заднего фона */
.first-block {
	background: url(img/bg-first-block.png) no-repeat;
	background-position-y: bottom;
}

/* оформление блока с контактами */

.logotype {
	display: flex;
	justify-content: space-between;
}

.block-contacts {
	display: flex;
	flex-direction: column;
}

.in-social {
	display: flex;
	justify-content: flex-end;
}

.fildsearch {
	display: flex;
	flex-direction: row;
}

/* задаём размер слайдера */
.slider-block {
	position: relative;
	padding-bottom: 75px;
}

.slider {
	position: relative;
	width: 980px;
	height: 493px;
	margin: 0 auto;
	padding-top: 16px;
	z-index: 2;
}

/* оформление второго блока */

.second-block {
	background: url(/css/img/bgblock2.png) no-repeat;
}

.youtube {
	position: relative;
}

/* оформление третьего блока */

.third-block {
	background: url(/css/img/bg-third1.png) no-repeat, url(/css/img/bg-third.png) no-repeat;
	background-position: left bottom, 1025px -85px;
	background-size: 50%, 57%;
}

/* задаем новый центр */
.new-center {
	width: 1225px;
	margin: 0 auto;
}

/* устанавливаем прозрачный задний фон для 4-го блока */

.four-block {
	background: url(/css/img/fourback-left.png), url(/css/img/fourback-right.png);
	background-repeat: no-repeat;
	background-size: auto 381px;
	background-position: 0 205px, right 205px;
	z-index: -1;
}

.four-block,
.background{
	position: relative;
}

.square-shadow {
	position: absolute;
	background: #fff;
	border: 3px solid #e7ebf3;
	opacity: 0.3;
	height: 759px;
    width: 1255px;
	z-index: -1;
}

/* фон для 5-го блока */

.five-block {
	background: url(/css/img/back-five.png);
	background-repeat: no-repeat;
	background-position: 0 -17px;
	padding-bottom: 52px;
}

.tasks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1255px;
	position: relative;
	z-index: 1;
}

.container-left {
	width: 486px;
	height: auto;
}

.container-right {
	width: 723px;
	height: auto;
}

/* шестой блок с сертфикатами */

.certificates {
	text-align: center;
}

footer {
	background: url(/css/img/ft-background.png);
	background-size: 100%;
	text-align: center;
	position: relative;
	top: 0;
}