/* подключаем шрифты */

@font-face {
	src: url('fonts/EuropeExt Bold.ttf'), url('/css/fonts/EuropeExt.ttf');
	font-family: Regular, 'EuropeExt Bold';
}

/* отменяем отступы */

body {
	margin: 0;
	padding: 0;
}

/* отменяем отсупы для навигации */
.list-nav {
	margin: 0;
	padding: 0;
}

/* отменяем маркеры и стили ссылок */
ul {
	list-style: none;
	text-transform: uppercase;
}

/* устанвливаем ширину для меню и блоков, выставляем по центру */

.width-nav,
.center {
	width: 980px;
	margin: 0 auto;
}

/* устанавливаем отступ до следующего блока */
.head {
	margin-bottom: 39px;
}

/* оформления первого блока */
/* установка заднего фона */
.first-block {
	background: url(img/bg-first-block.png) no-repeat;
	background-position: -285px -73px;
}

/* оформление блока с контактами */

.logotype {
	display: flex;
	justify-content: space-between;
}

.block-contacts {
	display: flex;
	flex-direction: column;
}

.in-social {
	display: flex;
	justify-content: flex-end;
}

.fildsearch {
	display: flex;
	flex-direction: row;
}

/* задаём размер слайдера */
.slider-block {
	position: relative;
	padding-bottom: 75px;
}

.slider {
	position: relative;
	width: 980px;
	height: 492px;
	margin: 0 auto;
	padding-top: 16px;
	z-index: 2;
}

/* оформление второго блока */

.second-block {
	background: url(/css/img/bgblock2.png) no-repeat;
}